---
interface Props {
  title?: string;
  content?: string | string[];
}
const { title = "", content = "" } = Astro.props as Props;
---

<li class="list">
  <h3 class="list-head">{title}</h3>
  <div class="list-body">
    {Array.isArray(content) 
      ? content.map((item) => <p>{item}</p>) 
      : <p>{content}</p>
    }
  </div>
</li>

<style>
  h3 {
		font-weight: 700;
		text-align: center;
	}
  li {
    list-style-type: none;
    border-top: solid 1px #edebe6;
    padding: 20px 0;
  }
  .list {
    display: flex;
    align-items: start;
    justify-content: start;
  }
  .list-head {
    display: flex;
    color: #aaa69f;
    width: 200px;
    min-width: 200px;
    margin: 0;
  }
  .list-body {
    display: flex;
    flex-direction: column;
    margin-top: 0.17rem;
    min-width: 200px;
  }
</style>