---
interface Props {
  title: string;
  sub: string;
}
const { title, sub } = Astro.props as Props;
---

<div class="title">
  <h2>{title}</h2>
  <p class="title-sub">{sub}</p>
</div>

<style>
  h2 {
    font-size: var(--font-2xl);
    line-height: var(--line-h-2xl);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: var(--space-xxs);
  }
  .title {
    margin-bottom: var(--space-xs);
  }
  .title-sub {
    font-size: var(--font-s);
    line-height: var(--line-h-s);
    color: var(--font-color-primary);
    text-align: center;
  }
</style>
