@font-face {
  font-family: 'DINAlternateBold';
  src: url('/fonts/DINAlternate-Bold.woff') format('woff');
}

/* variables */
:root {
  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 40px;
  --space-2xl: 48px;

  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-base: 1rem;
  --font-l: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;

  --color-background: #efeeed;
  --color-text-link: #0071c1;
  --color-shadow: rgb(0, 0, 0, 0.2);
}
