---
import { getCollection } from 'astro:content';

import InfoTitle from '../shared/InfoTitle.astro';

const infoEntries = await getCollection('information');
const infoList = infoEntries.map(info => ({
    date: info.data.date.replaceAll('-',  '.'),
    title: info.data.title,
    slug: info.slug,
  }))
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

---

<div class="information">
  <InfoTitle title='お知らせ' sub='Information'  />
  <div class="info-list">
    {
      infoList.map(info => (
        <li>
          <a href={`/information/${info.slug}`}>
            {`${info.date} ${info.title}`}
          </a>
        </li>
      ))
    }
  </div>
</div>

<style>
  a {
    text-decoration: none;
    font-size: var(--font-base);
  }
  a:hover {
    color: var(--color-text-link);
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--space-m);
  }
  .info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>