---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Outback Trading Company Ltd.">
	<main>
		<h1>Outback</span></h1>
    <div class="title">
      <p>
        Outback Trading Company Ltd.
      </p>
      <p>SINCE 1989</p>
    </div>
    <div class="instructions">
      <p>有限会社アウトバックのホームページにようこそ！</p>
      <p>アウトバックは「自然」と「人間」が友達になることをお手伝いします。</p>
    </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: var(--space-m);
		max-width: calc(100% - var(--space-s));
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.title {
    padding: var(--space-m);
    text-align: center;
	}
  .instructions {
    padding: var(--space-m);
    text-align: center;
  }
</style>
