---
import 'zenn-content-css';
import lib from 'zenn-markdown-html';

import Layout from '../layouts/Layout.astro';
import CompanyTop from '../components/sections/CompanyTop.astro';
import Information from '../components/sections/Information.astro';

// TODO: as any を処する
let markdownHtml = lib;
if (typeof lib !== 'function') {
  markdownHtml = (markdownHtml as any).default;
}
---

<Layout title="Outback Trading Company Ltd.">
  <main>
    <section>
      <CompanyTop />
    </section>
    <section>
      <Information />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: var(--space-m);
    max-width: calc(100% - var(--space-s));
    font-size: var(--font-base);
    line-height: var(--line-h-base);
  }
</style>
