---
import BearLogo from '../components/shared/BearLogo.astro'
---

<nav class="header">
  <div class="header-logo">
      <a href="/">
        <BearLogo /> OUTBACK
      </a>
  </div>
  <div class="nav-menu">
    <li class="nav-menu-item">
      <a href="/products">商品情報</a>
    </li>
      <li class="nav-menu-item">
        <a href="/about">会社情報</a>
      </li>
  </div>
</nav>

<style>
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f2e4cd;
    position: fixed;
    top: 0;
    left 0;
    height: 6rem;
    width: 100vw;
    z-index: 1000;
  }
  .header-logo a {
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    gap: 1rem;
    color: #745030;
  }
  .nav-menu {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    gap: 2rem;
    margin-right: 4rem;
  }
  .nav-menu-item a {
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .nav-menu-item a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 2px;
    background-color: #745030;
    transform: scale(0,1);
    transition: 0.3s;
    transform-origin: left top;
  }
  .nav-menu-item a:hover::after {
    transform: scale(1,1);
  }
</style>