---
import Header from '../sections/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="有限会社アウトバックのホームページです"
    />
    <meta property="og:title" content="Outback Trading Company Ltd.">
    <meta property="og:type" content="website">
    <meta property="og:description" content="有限会社アウトバックのホームページです">
    <!-- <meta property="og:url" content="https://outback.cup.com/"> -->
    <!-- <meta property="og:image" content="サムネイル画像のURL" /> -->
		<title>{title}</title>
	</head>
	<body>
    <Header />
		<slot />
	</body>
</html>
<style is:global>
  @import '../styles/global.css'
</style>
